<section class="success2" id="objectives">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Objectives</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>Our main goal is to create CloudButton: a Serverless Data Analytics Platform. CloudButton will democratize big data by overly simplifying the overall life cycle and programming model thanks to serverless technologies. To demonstrate the impact of the project, we target two settings with large data volumes: bioinformatics (genomics, metabolomics) and geospatial data (LiDAR, satellital).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fa fa-bar-chart fa-rotate-180 fa-flip-vertical" aria-hidden="true"></i>
            </span>
            <h4 class="goal-title">High Performance Serverless Run-time</h4>
            <p class="small">We will create the first FaaS compute run-time for Big Data analytics, overcoming the current limitations of existing serverless platforms.</p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-table fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="goal-title">Mutable Shared Data Middleware for Serverless Computing</h4> 
            <p class="small">We will create Distributed Mutable Data Structures leveraging RedHat Infinispan In-Memory Data Grid. Our middleware will provide language-level constructs for data persistence, dependability and concurrency control to serverless functions.</p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-cloud fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="goal-title">CloudButton Toolkit</h4>
            <p class="small">Serverless Cloud Programming Abstractions that can express a wide range of existing data-intensive applications with minimal changes. We will develop new tools and methodologies to port existing data-intensive applications from the HPC, data analytics and machine learning domains to the CloudButton toolkit.</p>
        </div>
      </div>
    </div>
  </section>