<section class="success" id="toolkit">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>CLOUDSTARS Toolkit</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>Text presentation</p>
        </div>
        <br>
        <div class="row">
          <!-- Lithops -->
          <div class="col-sm-4 text-center">
              <a href="https://github.com/cloudbutton/lithops">
                  <div class="row">
                      <img src="img/github.png" style="width: 50px;">
                      <h4>Lithops</h4>
                  </div>
              </a>
              <div class="row">
                  <p>A multi-cloud framework for big data analytics and embarrassingly parallel jobs in the cloud</p>
              </div>
          </div>
          <!-- Faasm -->
          <div class="col-sm-4 text-center">
              <a href="https://github.com/cloudbutton/faasm">
                  <div class="row">
                      <img src="img/github.png" style="width: 50px;">
                      <h4>Faasm</h4>
                  </div>
              </a>
              <div class="row">
                  <p>High-performance stateful serverless runtime based on WebAssembly</p>
              </div>
          </div>
          <!-- Crucial -->
          <div class="col-sm-4 text-center">
              <a href="https://github.com/cloudbutton/crucial">
                  <div class="row">
                      <img src="img/github.png" style="width: 50px;">
                      <h4>Crucial</h4>
                  </div>
              </a>
              <div class="row">
                  <p>Stateful Distributed Applications over Function-as-a-Service Platforms</p>
              </div>
          </div>
      </div>
      </div>
    </div>
  </section>