<section class="success" id="toolkit">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>CLOUDSTAR Toolkit</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>Text presentation</p>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
          <!-- Link 1 -->
          <div class="col-sm-4 text-center">
              <a href="https://github.com/">
                  <div class="row">
                      <img src="img/github.png" style="width: 50px;">
                      <h4 style="color: #fff;">What it is.</h4>
                  </div>
              </a>
              <div class="row">
                  <p>Explanation</p>
              </div>
            </div>
          <!-- Link 2 -->
          <div class="col-sm-4 text-center">
            <a href="https://github.com/">
                <div class="row">
                    <img src="img/github.png" style="width: 50px;">
                    <h4 style="color: #fff;">What it is.</h4>
                </div>
            </a>
            <div class="row">
                <p>Explanation</p>
            </div>
            </div>
         <!-- Link 3 -->
         <div class="col-sm-4 text-center">
            <a href="https://github.com/">
                <div class="row">
                    <img src="img/github.png" style="width: 50px;">
                    <h4 style="color: #fff;">What it is.</h4>
                </div>
            </a>
            <div class="row">
                <p>Explanation</p>
            </div>
            </div>
      </div>
      </div>
    </div>
  </section>