<section class="success2" id="usecase">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Use cases</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
                
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fas fa-envelope-o fa-stack-1x"></i>
            </span>
            <h4>Use case 1</h4>

            <p class="small">Explaining why.</p>
        </div>
    
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fas fa-battery-full fa-stack-1x"></i>
            </span>
            <h4>Use case 2</h4>

            <p class="small">Explaining why.</p>
        </div>
    
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fas fa-at fa-stack-1x"></i>
            </span>
            <h4>Use case 2</h4>

            <p class="small">Explaining why.</p>
         </div>
    
</div>
    </div>
    </div>
  </section>