<section class="success2" id="usecase">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Use cases</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
                
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fas fa-dna fa-stack-1x"></i>
            </span>
            <h4>Genomics</h4>

            <p class="small">Serverless technologies can overcome scaling limitations of research centres computational resources, improving the scalability and productivity when processing large datasets.</p>
        </div>
    
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fas fa-vials fa-stack-1x"></i>
            </span>
            <h4>Metabolomics</h4>

            <p class="small">Expand the analysis of metabolomics raw data and boost external access and efficient re-use of open data.</p>
        </div>
    
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
                <i class="fas fa-satellite fa-stack-1x"></i>
            </span>
            <h4>Geospatial</h4>

            <p class="small">Conduct geospatial analyses in order to increase productivity, scalability and performance of relevant environmental applications using open access LiDAR and satellite data.</p>
        </div>
    
</div>
    </div>
    </div>
  </section>